/******************************************
/* CSS
/*******************************************/
html {
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

/******************************************
/* Utilities
/*******************************************/

.button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button.active {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.container {
  width: 100%;
  max-width: 960px;
  padding: 0.5em 1em;
  margin: 0 auto;
}

.main {
  display: flex;
  width: 100%;
}

.menu,
.table {
  width: 50%;
}

.menu ul li {
  margin: .5em 0;
}

.frame {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  transition: transform .5s ease-in-out;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 80%;
  border-radius: .5em .5rem 0 0;
}